[Unit]
Description=clickhouse_exporter
After=network.target
[Service]
Type=simple
User={{start_user}}
ExecStart={{exec_file}} -log.level=debug -scrape_uri=http://{{hostvars[inventory_hostname].ansible_default_ipv4.address}}:8123/
Restart=on-failure
[Install]
WantedBy=multi-user.target
